.App {
  text-align: center;
  width: 100%;
  height: 100%;

  background-color: #232323;
}

span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.square {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid #61dafb;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 600px;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
} 

h1{
  animation:blinkingText 0.1s infinite;
}
@keyframes blinkingText{
  0%{     color: red;    }
  40%{    color: rgb(0, 255, 26); }
  60%{    color: rgb(255, 0, 251); }
  90%{    color:transparent;  }
  100%{   color: rgb(0, 42, 255);    }
}
